/* Mobile Device */
@media screen and (max-width:576px) {
    nav,.nav-item 
    {
        flex-direction: column;
        margin-top: 20px;
        margin-left: 40px;
    }
    .logo img{
        margin-left: 30px;
    } 
    .nav-item {
        gap: 15px;
    }
    .nav-item li{
        margin-top: 15px;
        margin-right: 55px;
    }
    .banner-item{
        flex-direction: column-reverse;
        background-size: cover;
        background-image: url("/images/Group\ 14.png"),
        linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    }
    .banner-pic img{
        margin-left: 150px;
        width: 300px;
    }
    .we-are-gamer-container{
        flex-direction: column-reverse;
    }
    .we-are-gamer-pic img{
        width: 300px;
    }
    .we-are-gamer-content h3{
        text-align: center;
        margin-left: 20px;
        /* margin-left: 100px;
        margin-right: 20px; */
    }
    .we-are-gamer-description{
        padding: 20px
        ;
    }
    .btn-we-are-gamer{
       margin-left: 50px;
    }
}




/* Tablet Device Responsive */
@media screen and (min-width:576px) and (max-width: 768px) {
    nav
    {
        flex-direction: column;
        margin-top: 20px;
        /* margin-left: 100px; */
    }
    .logo img{
        margin-left: 30px;
    } 
    .nav-item {
        gap: 15px;
    }
    .nav-item li{
        margin-top: 15px;
        margin-left: 55px;
        
    }
    .nav-btn button{
        margin-top: 10px;
        margin-left: 5px;
    }
     .banner-item{
        flex-direction: column-reverse;
    }
    .banner-pic img{
        width: 80%;
        margin-left: 60px;
    }
}