
/* Mobile Device Responsive */
@media screen and (max-width:576px) {
    
    .nav-bar{
        text-align: center;
        gap: 1rem;
        flex-direction: column;
    }
    .nav-item{
        flex-direction: column;
    }
    .banner-item{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
    }
    .banner-pic{
        width: 100%;
    }

     /* This is We are Gamer  */
    .we-are-gamer-container{
        flex-direction: column;
    }
    .we-are-gamer-pic{
        width: 100%;
    }
    .we-are-gamer-content{
        width: 100%; 
    }
    /* Online Game */
    .card-pic{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .watch-btn{
        
        bottom: 200px;
        left: 0px;
    }

}



/* Tablet Device */
@media screen and (min-width:576px) and (max-width:768px) {
    
    .nav-bar{
        text-align: center;
        gap: 1rem;
        flex-direction: column;
    }
    .nav-item{
        flex-direction: column;
    }
    .banner-item{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
    }
    .banner-pic{
        width: 100%;
    }

     /* This is We are Gamer  */
    .we-are-gamer-container{
        flex-direction: column;
    }
    .we-are-gamer-pic{
        width: 100%;
    }
    .we-are-gamer-content{
        width: 100%;
        
    }
    /* Online Game */
    .card-pic{
        grid-template-columns: repeat(2,1fr);
        text-align: right;
    }
    .watch-btn{
        bottom: 200px;
        left: 0px;
    }
}