
/* Mobile Device Responsive */
@media screen and (max-width:576px) {
    /* Nav-Bar */
    .nav-bar{
        text-align: center;
        gap: 1rem;
        flex-direction: column;
    }
    .nav-item{
        flex-direction: column;
    }
    /* Banner-Section */
    .banner-item{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
    }
    .banner-pic{
        width: 100%;
    }

     /* This is We are Gamer  */
    .we-are-gamer-container{
        flex-direction: column;
    }
    .we-are-gamer-pic{
        width: 100%;
    }
    .we-are-gamer-content{
        width: 100%; 
    }
    /* Online Game */
    .card-pic{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .watch-btn{
        
        bottom: 200px;
        left: 0px;
    }

    /* Play Games Instantly */
    .play-instantly-container{
        flex-direction: column;
    }
    .play-instantly-content{
        width: 100%;
    }
    .play-instantly-pic{
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;
    }
    .play-instantly-two-pic{
        
        bottom: 80px; 
        right: 80px;
    }
    /* Play Games Online  */
    .play-game-online-container{
        flex-direction: column-reverse;
    }
    .play-game-online-content{
        width: 100%;
    }
    .play-game-online-pic{
        margin-top: 2rem;
       width: 100%;
    }
    .play-game-online-two-pic{
        position: relative; 
        bottom: 50px;
        left: 0px;
    }    
    /* Button Section */
    .button-item{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0.5rem;
    }
     .item img{
    width: 40%;
    } 
    .small{
        margin-left: 2px;
        font-size: 80%;
    }
    /* Footer */
    .about{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3,1fr); 
    }
    .footer-icons{
       
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3,1fr); 
    }
    .footer-about-end{
        margin-top: 0.5rem;
        gap: 0.9rem;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
    }
}



/* Tablet Device */
@media screen and (min-width:576px) and (max-width:768px) {
    /* Nav-Bar */
    .nav-bar{
        text-align: center;
        gap: 1rem;
        flex-direction: column;
    }
    .nav-item{
        flex-direction: column;
    }
    /*Banner-section */
    .banner-item{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
    }
    .banner-pic{
        width: 100%;
    }

     /* This is We are Gamer  */
    .we-are-gamer-container{
        flex-direction: column;
    }
    .we-are-gamer-pic{
        width: 100%;
    }
    .we-are-gamer-content{
        width: 100%;
        
    }
    /* Online Game */
    .card-pic{
        grid-template-columns: repeat(2,1fr);
       text-align: center;
    }
    .watch-btn{
        bottom: 200px;
        left: 0px;
    }
    /* Play Games Instantly */
    .play-instantly-container{
        flex-direction: column;
    }
    .play-instantly-content{
        width: 100%;
    }
    .play-instantly-pic{
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;
    }
    .play-instantly-two-pic{
        
        bottom: 150px; 
        right: 180px;
    }
     /* Play Games Online  */
     .play-game-online-container{
        flex-direction: column-reverse;
    }
    .play-game-online-content{
        width: 100%;
    }
    .play-game-online-pic{
        margin-top: 2rem;
       width: 100%;
    }
    .play-game-online-two-pic{
        position: relative; 
        bottom: 100px;
        left: 0px;
    }  
    
    /* Button Section */
    .button-item{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 1rem;
    }
    
    /* Footer */
    .about{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3,1fr); 
    }
    .footer-icons{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3,1fr); 
    }
    .footer-about-end{
        margin-top: 0.5rem;
        gap: 0.9rem;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
       
    }
}