@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    margin: 0px auto;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* Nav-Bar Style */
header{
    margin-top: 2.5rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    height: auto;
}
.logo img{
    width: 70px;
    
}
.logo h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}
.logo span{
    color: #FF42A5;
    padding-left: 10px;
}
.nav-item  {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2.5rem; 
} 
.nav-item li{
    margin-top: 5px;
}
.nav-item li a {
    text-decoration: none;
    color:  #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.nav-btn button{
    
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}
.nav-item button img{
    margin-left: 20px;
    width: 1rem;
}

.banner-section{
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin-top: 25px;
}
.banner-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    
    height: 500px;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("/images/Group\ 14.png"),
    linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03));
    text-align: center;
    padding-top: 100px;
    padding-left: 70px;
}
.banner-content h1{
    color: #0B0223;
    padding-right: 50px;
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-content h2{
    padding-right: 50px;
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.banner-description{
    color: #534C64;
    margin-left: 50px;
    padding-top: 10px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
}
.fa-solid{
    color: #FF42A5;
    padding-right: 15px;
}
.banner-pic img{
    width: 450px;
    margin-right: 180px;
}
.btn-1{
    cursor: pointer;
    margin-top: 30px;
    background-color: #FF42A5 ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius:25px;
    font-weight: 600;  
}
.btn-2{
    cursor: pointer;
    background-color:#4EC5F7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius:25px;
    font-weight: 600; 
    margin-right: 130px;
} 
/* This is we are gamer style */
.we-are-gamer-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.we-are-gamer-content h3{
    margin-right: 190px;
   text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.we-are-gamer-pic img{
    width: 500px;
}
.we-are-gamer-description{
    margin-top: 20px;
    font-size: 100px;
    margin-right: 190px;
    color: #534C64;
    font-weight: 400;
}
.btn-we-are-gamer {
    margin-top: 20px;
    cursor: pointer;
    text-align: right;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #F948B2;
    border: none;
    padding: 8px 20px; 
    border-radius: 25px;
    margin-left: 400px;
}
.we-are-gamer-content p{
    margin-top: 20px;
    text-align: right;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-right: 100px;

}
/* This is online game section */
section{
    margin-top: 50px;
}
section h2{
    text-align: center;color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}
section span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;

}
section p{
    margin-top: 10px;
    color: #534C64;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
.card{
    margin-top: 40px;
    display: flex;
}
.card-pic{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin-left: 100px;
}

.card-pic img {
    width: 300px;
    padding: 10px;
}
.card-description{
    color: #534C64;
    font-weight: 500;
}

.watch-btn{
    position: relative;
    bottom: 250px;
    left: 120px;
}
.fa-regular{
cursor: pointer;
 font-size:2.5rem;
 color: white;
}
.watch-text{
  
    color: #FF42A5;
    font-weight: 700;
}

.card-item-3 img:hover {
    border: none;
    opacity: 0.5;
    background-color:rgba(71, 69, 69, 0.486);
}

/* Play Instantly Style */

.play-instantly-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-instantly-content{
    margin-left: 100px;
}
.play-instantly-content h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;

}
.play-instantly-content p{
color: #534C64;
text-align: right;
font-weight: 400;

}
.play-instantly-pic img{
    width: 400px;
}
.play-instantly-pic{
   margin-top: 30px;
}
.play-instantly-two-pic img{
    width: 200px;
}
.play-instantly-two-pic{
    position: relative; 
    bottom: 170px; 
    right: 90px;
}

/* Play Games Online */
.play-game-online-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    
}
.play-game-online-content h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}
.play-game-online-description{
color: #534C64;
font-weight: 400;
}
.play-game-online-pic img{
    width: 400px;
}
.play-game-online-pic{
   
   margin-left: 100px;
}
.play-game-online-two-pic img{
    width: 200px;
}
.play-game-online-two-pic{
    position: relative; 
    bottom: 170px;
   left: 300px;
}

/* This is button Item Style */
.button-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 250px;
    padding-right: 100px;
}
.item{
    cursor: pointer;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.small{
    margin-left: 10px;
}
.item:hover{
    color: #F948B2;
    border: 1px solid #FF42A5;
    border-radius:  40px;
    padding: 2px 10px;
}

/* This is footer Section */
.footer{
    max-width: 100%;
    background-color: #0B0223;
    margin-top: 100px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img {
    margin-top: 40px;
}
.footer-logo h3{
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}
.footer-logo span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 150px;
    padding-right: 50px;
    color: white;
}
.footer-icons{
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
}
.fa-brands{
    padding: 20px;
    color: white;
    font-size: 1.7rem;
}
.footer-about-end{
    color: rgba(255, 255, 255, 0.87);
    gap: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}